:root[data-theme="dark"] {
	/* Sidebar color */
	/* --sl-color-gray-6: hsl(200, 5%, 11%); */
	/* Content background color */
	/* --sl-color-bg: hsl(240, 2%, 13%); */
	/* Font color */
	--sl-color-white: hsl(0, 0%, 100%);
	/* Main Content Width */
	--sl-content-width: 80%;
	--sl-font: 'Comfortaa', system-ui
}

/* comfortaa-latin-wght-normal */
@font-face {
  font-family: 'Comfortaa Variable';
  font-style: normal;
  font-display: block;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/comfortaa:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.lost-action-icon{
	display: inline !important;
	position: relative;
	top: 7px;
	margin-right: -0.125em;
	margin-left: 0.075em;
	vertical-align: baseline;
}

.two-holster-tables{
	display: flex !important;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 2.5rem 0 2.5rem;
	font-size: 0.85vw;
	color: white;
	align-items: baseline;

	caption{
		font-size: 1vw
	}

	td{
		width: auto;
		margin: 0 auto;
		text-align: center;
	}
	
	td:first-child{
		padding: .3rem .75rem .3rem .5rem;
		border-right: hidden;
	}

	td:nth-child(2){
		padding-left: 0;
		padding-right: .5rem;
		text-align: left;
	}

	tr:nth-child(even) {
		background-color: rgb(29, 29, 29);
	  }
	  
	tr:nth-child(odd) {
		background-color: rgb(54, 54, 54);
	}
}

table.dps{
	th{
		background-color: rgb(175, 35, 35);
	}
}

table.phys{
	th{
		background-color: rgb(212, 183, 42);
	}
}

table.caster{
	th{
		background-color: rgb(99, 46, 167);
	}
}

table.tank{
	th{
		background-color: rgb(53, 87, 210);
	}
}

table.healer{
	th{
		background-color: rgb(76, 158, 67);
	}
}


.hidden-right-border{
	border-right: hidden;
}

.social-icons a,
.site-title{
	color: hsl(0, 0%, 97%);
}

.site-title:hover{
	color: hsl(0, 0%, 70%);
}

.main-pane {
	--sl-content-margin-inline: 10% !important;
}

.sidebar-content {
	background-color: var(--sl-color-bg);
}

.sidebar-pane{
	z-index: 0;
}

 @media(max-width: 800px){
	.sidebar-pane{
		z-index: 5;
	}
}

h1,
h2,
h3,
h4,
.site-title {
	font-weight: 400;
}

hr {
	border: none;
	height: 2px;
	background-color: #74737a;
}

/* Wholehogg diagram so its visible on the actual site */
.excalidraw {
	min-height: 600px;
}

.suggestions-complaints {
	position:fixed;
	right:2%;
}

.contact-form{
	min-height:1000px;
	min-width:50%;
}

/* Playstation Macro for Vault Knights */
.dkt-macro {
	min-width: 200px;
	max-width: 10%;
}

#_top{
	display:flex;
	justify-content: center;;
}

/* Images on start of each ulti phase */
.ulti-tooltip {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
}

.lost-actions-images {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.ulti-summary{
	width: 100%;
}

/* Hides default Starlight Icons from the colored tips */
.starlight-aside__icon {
	display: none !important;
}

/* Green Color for Tip on UWU page */
.light-pillar-tip aside {
	border-color: rgb(58, 151, 120);
	background: rgb(15, 78, 57);
	--sl-color-asides-text-accent: white;
}

/* Colors for the fights on the left sidebar */
:where(.ucob-sidebar):hover,
:where(.ucob-sidebar)[aria-current="page"],
:where(.ucob-sidebar)[aria-current="page"]:hover,
:where(.ucob-sidebar)[aria-current="page"]:focus {
	background-color: #ac7522;
	color: white;
}
:where(.uwu-sidebar):hover,
:where(.uwu-sidebar)[aria-current="page"],
:where(.uwu-sidebar)[aria-current="page"]:hover,
:where(.uwu-sidebar)[aria-current="page"]:focus {
	background-color: #1d5296;
	color: white;
}
:where(.tea-sidebar):hover,
:where(.tea-sidebar)[aria-current="page"],
:where(.tea-sidebar)[aria-current="page"]:hover,
:where(.tea-sidebar)[aria-current="page"]:focus {
	background-color: #e2d135;
	color:#202020 !important;
}
:where(.dsr-sidebar):hover,
:where(.dsr-sidebar)[aria-current="page"],
:where(.dsr-sidebar)[aria-current="page"]:hover,
:where(.dsr-sidebar)[aria-current="page"]:focus {
	background-color: #ce3535;
	color: white;
}
:where(.top-sidebar):hover,
:where(.top-sidebar)[aria-current="page"],
:where(.top-sidebar)[aria-current="page"]:hover,
:where(.top-sidebar)[aria-current="page"]:focus {
	background-color: #741e80;
	color: white;
}

/* Buttons the landing page */
.multi-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-align: center;
	position: relative;

	button {
		flex: 1;
		margin-right: 5px;
		position: relative;
		padding: 1rem 2rem;
		border: 1px solid #f2f2f2;
		border-radius: 6px 6px 6px 6px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1em;
		letter-spacing: 1px;
		box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
		color: white;
		background: transparent;
		overflow: hidden;
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			bottom: 0;
		}

		&::after {
			height: 0;

			transition: height 0.5s ease;
			z-index: -1;
		}

		&::before {
			background-color: #323136;
			height: 100%;
			z-index: -2;
		}

		&:hover {
			color: #fff;
			transition: 0.1s ease;

			&::after {
				height: 100%;
			}
		}

		&:nth-of-type(1)::after {
			background-color: #8c3211;
			border-radius: 6px 0 0 6px;
		}

		&:nth-of-type(2)::after {
			background-color: #4e85cd;
			border-radius: 6px 0 0 6px;
		}

		&:nth-of-type(3)::after {
			background-color: #e2d135;
			border-radius: 6px 0 0 6px;
		}

		&:nth-of-type(4)::after {
			background-color: #ce3535;
			border-radius: 6px 0 0 6px;
		}

		&:nth-of-type(5)::after {
			background-color: #741e80;
			border-radius: 6px 0 0 6px;
		}
	}
}
@keyframes towhite {
	0% {
		color: inherit;
	}
	100% {
		color: white;
	}
}